body, html {
    background-image: url(../img/bricks_01.png);
}

.menu_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-top: 30px;
    
}

.header_menu_navbar_item {
    border: 5px gold solid;
   /* border-radius: 30px;*/
}

.item_a {
    color: gold;
    text-decoration: none;
}

.header_top_rowmenu {
    display: flex;
    flex-direction: row;
    color: gold;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}