body, html {
    background-image: url(../img/bricks_01.png);
    
}

.menu_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-top: 100px;   
}

.header_menu_navbar_item {
    border: 5px gold solid;
    padding: 5px 15px 5px 15px;
    background-color: black;
    
}

.header_menu_navbar_item:hover {
    background-color: gold;
    color: black;
}

.item_a {
    color: gold;
    text-decoration: none;
}

.item_a:hover {
    color: black;
    text-decoration: none;
}

.header_top_rowmenu {
    display: flex;
    flex-direction: row;
    color: gold;
    margin-top: 100px;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    box-shadow: 0 0 50px rgba(0,0,0,1);
}

.main_section_aboutme {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    justify-content: space-evenly;
    align-items: center;
    color: gold;
    background-color: black;
    box-shadow: 0 0 50px rgba(0,0,0,1);
}

.text_about_me {
    width: 70%;
}